/* Center content container */
main {
  max-width: 800px; /* change this at will */
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: rgb(76, 25, 25);
  background-color: rgb(163, 161, 161);
  text-align: center;
}

/* Style for the recipe image */
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Style for the ingredients list */
.ingredients {
  background-color: rgb(163, 161, 161);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ingredients h2 {
  color: rgb(76, 25, 25);
  background-color: rgb(163, 161, 161);
  padding: 10px;
  margin-top: 0;
}

.ingredients ul {
  list-style-type: square;
  margin-left: 20px;
  padding-left: 20px;
}

/* Style for the instructions */
.instructions {
  background-color: rgb(163, 161, 161);
  padding: 20px;
  border-radius: 10px;
}

.instructions h2 {
  color: rgb(76, 25, 25);
  background-color: rgb(163, 161, 161);
  padding: 10px;
  margin-top: 0;
}

.instructions ol {
    list-style-type: decimal;
  margin-left: 20px;
  padding-left: 20px;
}   

/* Style for the footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(163, 161, 161);
  color: rgb(76, 25, 25);
  margin-top: 20px;
}   
