/* Center content container */
main {
  max-width: 800px; /* change this at will */
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: red;
}

introduction {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: yellow;
  background-color: black;
  padding: 10px;
}